alpaca-trade-api==1.2.3
certifi==2021.5.30
charset-normalizer==2.0.4
idna==3.2
joblib==1.0.1
msgpack==1.0.2
numpy==1.21.1
pandas==1.3.1
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
scikit-learn==0.24.2
scipy==1.7.1
six==1.16.0
ta==0.7.0
threadpoolctl==2.2.0
urllib3==1.26.6
websocket-client==1.1.1
websockets==9.1
